# Dependencies
node_modules

# Next.js
.next
out

# Build
dist

# Env files (keep .env.example)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# OS
Thumbs.db
